/*-- scss:defaults --*/


/* About */
.aboutme {
    text-align: justify;
    font-size: 0.8em;
}

.institute {
    font-size: .85em;
    margin-top: 0;
    margin-bottom: 0;
    /* line-height: 1em; */
}

.year {
    font-size: .7em;
    margin-top: 0;
    margin-bottom: 2em;
    font-style: italic;
}

.company {
    font-size: .8em;
}

.description {
    padding-top: 10px;
}

.executive-summary {
    font-size: 0.9em;
    text-align: justify;
}