.table {
    font-size: .85em;

}

.appendix {
    font-size: .8em;
}

.smaller {
    font-size: 80em;
}
.description {
    padding-top: 10px;
}

.executive-summary {
    font-size: 0.9em;
    text-align: justify;
}